<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>chaac_client</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.css"> 
</head>
<body>
	<header id="main-header">
		<img id="logo-header" src="img/logo chaac-1.png">		
		 <!-- / #logo-header -->
		<nav>
			<ul>
				<li><a href="#">beginning</a></li>
				<li><a href="#">information</a></li>
				
			</ul>
		</nav><!-- / nav -->
	</header>


	<section>
		<div class="contenedor ">
			<div class="subheader">
			<h1 style="color: white;">Components</h1>
				<nav>
					<ul>
						<li> <button class="iconbutton" id="removeblock"> <img class='icon' src='img/icons/eliminar.png'> </button> </li>
					</ul>
				</nav>
			</div>
			<div class="contenedor-lista" id="blocklist" >
				<div class="lista" id="lista">
					<!-- Persona #1 -->
					<div class="blockelem create-flowy noselect">
						<input type="hidden" name='blockelemtype' class="blockelemtype" value="1">
                		<div class="grabme"> 
                			<span></span>
							<img class="blockicon icon" src="img/icons/suelto.png">
						</div>
						<div class="blockin">
							<div class="blocktext blockyright">
								<h2 class="no-seleccionable">Cenotes</h2>
                        		<spam class="blocktitle">new Cenote</spam>
                        		<p class="blockdesc">this blocke is to add a new container pool</p>
                        	</div>
                		</div>
					</div>
				
					<!-- Persona #2 -->
					<div class="blockelem create-flowy noselect">
						<input type="hidden" name='blockelemtype' class="blockelemtype" value="2">
                		<div class="grabme">
							<img class="icon" src="img/icons/suelto.png">
						</div>
						<div class="blockin">
								<h2 class="no-seleccionable">Bins</h2>
                        		<spam class="blocktitle">new Bin</spam>
                        		<p class="blockdesc">this blocke is to add a new container</p>
                		</div>
					</div>

					<!-- Persona #3 -->
					<div class="blockelem create-flowy noselect">
						<input type="hidden" name='blockelemtype' class="blockelemtype" value="3">
                		<div class="grabme">
							<img class="icon" src="img/icons/suelto.png">
						</div>
						<div class="blockin">
								<h2 class="noselect">Balls</h2>
                        		<spam class="blocktitle no-seleccionable">new Ball</spam>
                        		<p class="blockdesc no-seleccionable">this blocke is to add a new ball</p>
                		</div>
					</div>

				</div>
			</div>
		</div>
		<div class="contenedor">
			<div class="subheader"><h1 style="color: white;">work area</h1></div>
			<div class="contenedor-area"  >
				<div class="lista" id="canvas">
				</div>
			</div>
		</div>
	</section>
	<script src="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>