<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>chaac_client</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<header id="main-header">
		<img id="logo-header" src="img/logo chaac-1.png">		
		 <!-- / #logo-header -->
		<nav>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">informacion</a></li>
				
			</ul>
		</nav><!-- / nav -->
	</header>


	<section>
		<div class="contenedor">
			<div class="contenedor-lista "  >
				<h1 style="color: white;">Componentes</h1>
				<div class="lista" id="lista">
					<!-- Persona #1 -->
					<div class="items" data-id="pool">
						<h2>pool</h2>
					</div>
				
					<!-- Persona #2 -->
					<div class="items" data-id="bin">
						<h2>bin</h2>
					</div>

					<!-- Persona #3 -->
					<div class="items" data-id="ball">
						<h2>ball</h2>
					</div>

				</div>
			</div>
		</div>
		<div class="contenedor">
			<div class="contenedor-area "  >
				<h1 style="color: white;">Area de trabajo</h1>
				<div class="lista" id="modelo">
				

				</div>
			</div>
		</div>
	</section>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>