.blockelem:first-child{
 margin-top: 20px;
}
.blockelem{
    padding-top: 10px;
    width: 318px;
    border: 1px solid transparent;
    transition-property: box-shadow, height;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.05, 0.03, 0.35, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgb(22, 33, 74,0);
    box-sizing: border-box;
    background-color: #EAF5F5;
}

.blockelem:hover{
    box-shadow: 0px 4px 30px rgb(22, 33, 74,0.08);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.grabme, .blockico{
    display: inline-block;
}
.grabme{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -14px;
    width: 15px;
}
#blocklist{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #EAF5F5;
    align-items: center;
    border-radius: 5px;
}
.proplist{
    height: calc(100%-305px);
    overflow: auto;
    margin-top: -30px;
    margin-left: 30px;
}
.blockin{
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}
.blockico{
    width: 36px;
    height: 36px;
    background-color: #f1f4fc;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}
.blockico span{
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}
.blockico img{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.blocktext{
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin-left: 12px;
}
.blocktitle{
    margin: 0px!important;
    padding: 0px!important;
    font-weight: 500;
    font-size: 16px;
    color: #393c44;
}
.blockdesc{
    margin-top: 5px;
    color:#808296;
    font-size: 14px;
    line-height: 21px;
}
.blockdisabled{
    background-color: #f0f2f9;
    opacity: 0.5;
}
#canvas{
    position: absolute;
    width: 98%;
    height: 100%;
    top: 71px;
    z-index: 0;
    overflow: auto;
    background-color: #c4e1f4;
    border-radius: 2px;
}
#propwrap{
    position: absolute;
    right: 0;
    top: 0;
    width: 311px;
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
    z-index: -2;
}
#properties{
    position: absolute;
    height: 100%;
    width: 311px;
    background-color: #fff;
    right: -150px;
    opacity: 0;
    z-index: 2;
    top: 0px;
    box-shadow: -4px 0px 40px rgba(26, 26, 73, 0);
    padding-left: 20px;
    transition: all .25s cubic-bezier(0.05, 0.03, .35,1);
    overflow: auto;
}
.itson{
    z-index: 2!important;
}
.expanded {
    right: 0!important;
    opacity: 1!important;
    box-shadow: -4px 0px 40px rgba(26, 26, 73, 0.05);
    z-index: 2;
}
.blockyname{
    font-weight: 500;
    color: #393c44;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 16px;
}
.blockyleft img{
    display: inline-block;
    vertical-align: middle;
}
.blockyright{
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 10px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    transition: all .3s cubic-bezier(.05,.03,.35,1);
    z-index: 10;
}
.blockyright:hover{
    background-color: #f1f4fc;
    cursor: pointer;
}
.blockyright img{
    margin-top: 12px;
}
.blockyleft{
    display: inline-block;
    margin-left: 20px;
}
.block{
    background-color: #fff;
    margin-top: 0px!important;
    box-shadow: 0px 4px 30px rgba(26, 26, 73, 0.5);
}
.selectedblock{
    border: 2px solid #217ce8;
    box-shadow: 0px 4px 30px rgba(26, 26, 73, 0.5);
}
#close{
    margin-top: 10px;
    right: 20px;
    z-index: 9999;
}
#close:hover{
    opacity: .7;
    cursor: pointer;
}