{% extends 'base.html' %} {% block title %} Contextual-based distribution schemes {% endblock %} {% block head %} {{ super() 
}}
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
{% endblock %} {% block content %}
<main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Acquisition</h1>
    </div>


    <div class="col-md-12 col-md-offset-1">
        <div id="rootwizard">
            <div class="card ">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#start">Infrastructure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#microservice">Microservices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#data">Data Containers</a>
                        </li>
                    </ul>
                </div>
    
                <div class="tab-content">
                    <div class="tab-pane active" id="start">
                        <div class="card-body">
                            <p class="card-text">
    
                                <table class="table table-striped" id="table_nodes">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Cores (CPU)</th>
                                            <th scope="col">Memory (GB)</th>
                                            <th scope="col">Storage (GB)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="microservice">
                        <div class="card-body">
                            <p class="card-text">
                                <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                Usage CPU 
                                            </button>
                                        </h2>
                                    </div>
                                
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                           <div class="row">
                                                <div class="col-md-6"><canvas id="myChart"></canvas></div>
                                                <div class="col-md-6"><canvas id="myChart2"></canvas></div>
                                           </div>
                                           <div class="row">
                                               <div class="col-md-6"><canvas id="myChart3"></canvas></div>
                                               <div class="col-md-6"><canvas id="myChart4"></canvas></div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Memory
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6"><canvas id="myChart5"></canvas></div>
                                                <div class="col-md-6"><canvas id="myChart6"></canvas></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6"><canvas id="myChart7"></canvas></div>
                                                <div class="col-md-6"><canvas id="myChart8"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Disk
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane active" id="data">
                        <div class="card-body">
                            <p class="card-text">
                    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
    </div>

    <!--<div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <canvas id="myChart"></canvas>

                </div>
            </div>
        </div>
    </div>-->
</main>
{% endblock %}
{% block footer %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script type="text/javascript">

    // Gets the length of the interval in nanoseconds.
    function getInterval(current, previous) {
        var cur = new Date(current);
        var prev = new Date(previous);

        // ms -> ns.
        return (cur.getTime() - prev.getTime()) * 1000000;
    }


    var update = function () {

        $.getJSON("getnodes").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var output;
            var i = 1;
            $.each(data, function (key, value) {
                output += '<tr>';
                output += '<th scope="row">' + i + '</th>';
                output += '<td>' + value['name'] + '</td>';
                output += '<td>' + value['cores'] + '</td>';
                output += '<td>' + (value['memory'] / 1000000000) + '</td>';
                output += '<td>' + (value['storage'] / 1000000000) + '</td>';
                output += '<td>';
                output += '</td>';
                output += '</tr>';
                i++;
            });

            $("#table_nodes tbody").html(output);

            })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });

        $.getJSON("gethostscpu/1").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            for (var i = 1; i < data.length; i++) {
                var cur = data[i];
                var prev = data[i - 1];
                var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                var date = new Date(cur.timestamp);
                labels.push(i);
                console.log((cur.usage.total - prev.usage.total) / intervalNs)
                datos.push((cur.usage.total - prev.usage.total) / intervalNs);
            }

            var ctx = document.getElementById("myChart").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 1',
                        borderColor: 'rgb(153, 102, 255)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'CPU'
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });

        $.getJSON("gethostscpu/2").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];


            for (var i = 1; i < data.length; i++) {
                var cur = data[i];
                var prev = data[i - 1];
                var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push((cur.usage.total - prev.usage.total) / intervalNs);
            }

            var ctx = document.getElementById("myChart2").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 2',
                        borderColor: 'rgb(255, 102, 155)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'CPU'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });
    

    $.getJSON("gethostscpu/3").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            for (var i = 1; i < data.length; i++) {
                var cur = data[i];
                var prev = data[i - 1];
                var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push((cur.usage.total - prev.usage.total) / intervalNs);
            }

            var ctx = document.getElementById("myChart3").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 3',
                        borderColor: 'rgb(105, 5, 255)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'CPU'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });

            $.getJSON("gethostscpu/4").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            for (var i = 1; i < data.length; i++) {
                //console.log(i);
                var cur = data[i];
                var prev = data[i - 1];
                var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                //console.log(intervalNs);
                var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push((cur.usage.total - prev.usage.total) / intervalNs);
            }

            var ctx = document.getElementById("myChart4").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 4',
                        borderColor: 'rgb(193, 10, 255)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'CPU'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });


            $.getJSON("gethostsmemory/1").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            var oneMegabyte = 1024 * 1024;

            for (var i = 0; i < data.length; i++) {
                var cur = data[i];
                //var prev = data[i - 1];
                //var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                //var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push(cur.usage / oneMegabyte);
            }

            var ctx = document.getElementById("myChart5").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 1',
                        borderColor: 'rgb(153, 102, 255)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Memory'
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });


            $.getJSON("gethostsmemory/2").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            var oneMegabyte = 1024 * 1024;

            for (var i = 0; i < data.length; i++) {
                var cur = data[i];
                //var prev = data[i - 1];
                //var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                //var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push(cur.usage / oneMegabyte);
            }

            var ctx = document.getElementById("myChart6").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 2',
                        borderColor: 'rgb(255, 102, 155)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Memory'
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });


            $.getJSON("gethostsmemory/3").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            var oneMegabyte = 1024 * 1024;

            for (var i = 0; i < data.length; i++) {
                var cur = data[i];
                //var prev = data[i - 1];
                //var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                //var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push(cur.usage / oneMegabyte);
            }

            var ctx = document.getElementById("myChart7").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 3',
                        borderColor: 'rgb(105, 5, 255)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Memory'
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });

             $.getJSON("gethostsmemory/4").done(function (data, textStatus, jqXHR) {

            if (console && console.log) {
                console.log("Request success");
            }

            var n = 0;
            var labels = [];
            var datos = [];

            var oneMegabyte = 1024 * 1024;

            for (var i = 0; i < data.length; i++) {
                var cur = data[i];
                //var prev = data[i - 1];
                //var intervalNs = getInterval(cur.timestamp, prev.timestamp);
                //var date = new Date(cur.timestamp);
                labels.push(i);
                datos.push(cur.usage / oneMegabyte);
            }

            var ctx = document.getElementById("myChart8").getContext("2d");
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Node 4',
                        borderColor: 'rgb(193, 10, 255)',
                        data: datos
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Memory'
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Usage'
                            }
                        }],
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true
                            }
                        }]
                    }
                }

            };

            var myChartbar = new Chart(ctx, config);

        })
            .fail(function (jqXHR, textStatus, errorThrow) {
                if (console && console.log) {
                    console.log("Request fail: " + textStatus);
                }
            });

    }
    update();
    var refInterval = window.setInterval('update()', 10000);

</script>
{% endblock %}