<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.css"> 

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="http://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">-->
    {% endblock %}
</head>

<body>
    <header id="main-header">
		<img id="logo-header" src="{{ url_for('static', filename='img/logo chaac-1.png') }}">		
		 <!-- / #logo-header -->
             <nav >
			    <ul>
                {%if current_user.is_active:%}
                    <li class="dropdown "> <a>{{current_user.name}}</a>
                        <ul class="dropdown-content">
                            <li><button id="logout" type="submit" class="iconbutton"> logout</button></li>
                        </ul>
                    </li>
                {%endif%}
			    	<li><a href="#">beginning</a></li>
		    		<li><a href="#">information</a></li>
			    </ul>
		    </nav><!-- / nav -->
	</header>
    <!--<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">-->
        <!--<a class="navbar-brand col-sm-4 col-md-3 mr-0" href="/">Chaac</a>-->
        <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>-->
    <!--</nav>-->

    <!--<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/monitor">
                               1. Acquisition
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/analizer">
                              2. Analysis
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/creation">
                               3. Creation
                            </a>
                        </li> -->
                        <!--<li class="nav-item">
                            <a class="nav-link" href="/analysis">
                                4) Classification of Users and Topics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/simulation">
                                5) Simulation
                            </a>
                        </li>-->
                  <!--  </ul>

                </div>
            </nav>-->
            {% block content %}{% endblock %} 
        </div>
        </div>
            {% block footer %}
            <!-- Placed at the end of the document so the pages load faster -->
            <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
            <!--<script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
            <!--<script src="http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>-->
            <!--<script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>-->

            <!-- Icons -->
            <!--<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
            <script>
                feather.replace()
            </script>-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/login.js') }}"></script> 
             {% endblock %}
</body>

</html>