{% extends 'base.html' %} {% block title %} Chaac {% endblock %} {% block head %} {{ super() 
}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
{% endblock %} {% block content %}
<section>
    <div class="card-wrapper">
        <div class="card">
            <div class="row"> 
                <div>
                    <img class="login" src="{{ url_for('static', filename='img/logo chaac-1.png') }}">	
                    <form id="login">
                        <label for="email_user">Email:</label>
                        <input type="text" name="email_user" class="field" required>
                        <label for="password_user">Password:</label>
                        <input type="password" name="password_user" class="field" required>
                        <button type="submit" class="btn">login</button>
                    </form>
                </div>
                <div style="margin:auto">
                    <h1 class="center">Create an Account</h1>
                    <form id="signup_form">
                        <label for="Name_user">Name:</label>
                        <input type="text" name="Name_user" class="field" required>
                        <label for="UserName">User Name:</label>
                        <input type="text" name="UserName" class="field" required>
                        <label for="email">Email:</label>
                        <input type="text" name="email" class="field" required>
                        <label for="Password">Password:</label>
                        <input type="password" name="Password" class="field" required>
                        <button type="submit" class="btn"> sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Chaac</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h3>Welcome, what are you doing today?</h3>

                    <hr>

                    <div class="row">
            
                        <hr>
                        <div class="col-md-4">
                            <div class="card text-white bg-danger mb-3 text-center" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">1. Acquisition</h5>
                                    <p class="card-text">Mechanisms for the acquisition of contextual information by monitoring of microservice performance.  </p>
                                    <a href="/monitor" class="btn btn-dark">Open</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-secondary mb-3 text-center" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">2. Analysis</h5>
                                    <p class="card-text">Algorithm for the quantification of volume and density by using contextual attributes.<br></p>
                                    <a href="/analysis" class="btn btn-dark">Open</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">3. Creation</h5>
                                    <p class="card-text">A data distribution scheme.<br><br><br></p>
                                    <a href="/creaction/index.html" class="btn btn-dark">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
</main>-->
{% endblock %}
{% block footer %} {{ super() }}

{% endblock %}