{% extends 'base.html' %} {% block title %} Chaac {% endblock %} {% block head %} {{ super() 
}}
{% endblock %} {% block content %}
<section>
    <div class="row">
        <div class="col-lg-4 center">
            <div class="subheader">
                <h2 style="margin: auto;">schemas</h2>
                <nav>
                    <ul>
                        
                        <li>
                            <button type="submit" class="iconbutton" id="create"> create schema</button>
                            <button type="submit" class="iconbutton" id="run"> run</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="blocklist" style="padding: 10%; max-height: 500px;  min-height: 150px;">
             <ul>
                    {%if current_user.schemas%}
                        {%for schemas in current_user.schemas%}
                        <li class="schema-list">
                            <div>
                                <h1>
                                    Name: {{schemas.schema_name}}
                                </h1>
                                <input type="hidden" name='schemaId' class="schemaId" value={{schemas.id}} >
                                <span>id: {{schemas.id}}</span>
                            </div>
                        </li>
                        {%endfor%}
                    {%else%}
                        <h2>you don't have schemas created</h2>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div id="propwrap">
            <div id="properties">
                <div id="close">
                    <img src="{{ url_for('static', filename='img/icons/close.svg') }}">
                </div>
                <div id="form">
                    <div id="formulario"></div>
                </div>
                <button id="guardar" class="iconbutton" style="margin: 5px;"> save <nav > <ul>
                        <li><img src="{{ url_for('static', filename='img/icons/editar.png') }}" class="icon"></li>
                        </ul>
                    </nav>
                </button>
            </div>
        </div>
        <div class="col center">
            <div class="subheader">
                <h2 style="margin:auto">view schemas</h2>
                <nav>
                    <ul>
                        <li>
                            <button type="submit" class="iconbutton" id="save_schema"> save schema</button>
                            <button type="submit" class="iconbutton" id="remove_schema"> remove schema</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="canvas" style="height: 100%;"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %} {{ super() }}
<script src="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.js"></script>
<script src="{{ url_for('static', filename='js/visualize.js') }}"></script>
{% endblock %}