{% extends 'base.html' %} {% block title %} Chaac {% endblock %} {% block head %} {{ super() 
}}
{% endblock %} {% block content %}
<section>
    <div class="row">
        <div class="col-lg-4">
            <h2>schemas {{ current_user.name }}</h2>
        </div>
        <div class="col">
            <h2>view schemas</h2>
            <div id="canvas"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %} {{ super() }}
<script src="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.js"></script>
<script src="{{ url_for('static', filename='js/visualize.js') }}"></script>
{% endblock %}